---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<h1 class="text-3xl font-bold px-4 py-6">Blog</h1>
<ul class="px-4 space-y-4">
    {posts.map(({ slug, data }) => (
        <li>
            <a class="text-blue-600 hover:underline" href={`/blog/${slug}`}>
              <h2 class="text-xl font-semibold">{data.title}</h2>
            </a>
            <p class="text-gray-500 text-sm">{new Date(data.pubDate).toLocaleDateString()}</p>
            <p>{data.description}</p>
        </li>
    ))}
</ul>