---
import Header from '../components/Header.astro'
import FilterBar from '../components/FilterBar.astro';
import ProductTable from "../components/ProductTable.astro";
import Footer from '../components/Footer.astro';
---

<style>
    @import '../styles/global.css';
</style>

<Header />
<form>
<FilterBar />
<ProductTable />
</form>
<Footer />
