<div class="filters">
    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Amazon Source</legend>
            <a href="/?locale=us" class="active">amazon.com</a>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Condition</legend>
        <label for="filter-condition-new" class="filter-label">
        <input type="checkbox" class="filter-checkbox" id="filter-condition-new" checked="checked" />New</label>
        <label for="filter-condition-used" class="filter-label">
        <input type="checkbox" class="filter-checkbox" id="filter-condition-used" checked="checked" />Used</label>
    </fieldset>

        <fieldset class="filter-wrapper">
        <legend class="filter-legend">Capacity (GB)</legend>
        <label for="filter-capacity-min">
        <input type="number" class="numeric-input" id="filter-capacity-min" />Minimum</label>
        <label for="filter-capacity-max">
        <input type="number" class="numeric-input" id="filter-capacity-max" />Maximum</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Technology</legend>
        <label for="filter-technology-ddr" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-technology-ddr" checked="checked" />DDR</label>
        <label for="filter-technology-ddr2" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-technology-ddr2" checked="checked" />DDR2</label>
        <label for="filter-technology-ddr3" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-technology-ddr3" checked="checked" />DDR3</label>
        <label for="filter-technology-ddr3l" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-technology-ddr3l" checked="checked" />DDR3L</label>
        <label for="filter-technology-ddr4" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-technology-ddr4" checked="checked" />DDR4</label>
        <label for="filter-technology-ddr5" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-technology-ddr5" checked="checked" />DDR5</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Price</legend>
        <label for="filter-price-min">
            <input type="number" class="numeric-input" id="filter-price-min" />Minimum</label>
        <label for="filter-price-max">
            <input type="number" class="numeric-input" id="filter-price-max" />Maximum</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Brands</legend>
        <label for="filter-brand-brute-networks" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-brute-networks" checked="checked" />Brute Networks</label>
        <label for="filter-brand-corsair" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-corsair" checked="checked" />Corsair</label>
        <label for="filter-brand-crucial" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-crucial" checked="checked" />Crucial</label>
        <label for="filter-brand-g.skill" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-g.skill" checked="checked" />G.SKILL</label>
        <label for="filter-brand-kingston" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-kingston" checked="checked" />Kingston</label>
        <label for="filter-brand-pny" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-pny" checked="checked" />PNY</label>
        <label for="filter-brand-teamgroup" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-teamgroup" checked="checked" />TEAMGROUP</label>
        <label for="filter-brand-samsung" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-samsung" checked="checked" />Samsung</label>
        <label for="filter-brand-acer" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-acer" checked="checked" />Acer</label>
        <label for="filter-brand-thermaltake" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-brand-thermaltake" checked="checked" />Thermaltake</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Compatibility</legend>
        <label for="filter-compatibility-desktop" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-compatibility-desktop" checked="checked" />Desktop</label>
        <label for="filter-compatibility-laptop" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-compatibility-laptop" checked="checked" />Laptop</label>
        <label for="filter-compatibility-server" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-compatibility-server" checked="checked" />Server</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">CAS Latency</legend>
        <label for="filter-latency-cl16" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-latency-cl16" checked="checked" />CL16</label>
        <label for="filter-latency-cl11" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-latency-cl11" checked="checked" />CL11</label>
        <label for="filter-latency-cl18" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-latency-cl18" checked="checked" />CL18</label>
        <label for="filter-latency-cl19" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-latency-cl19" checked="checked" />CL19</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Form Factor</legend>
        <label for="filter-type-dimm" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-type-dimm" checked="checked" />DIMM</label>
        <label for="filter-type-rdimm" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-type-rdimm" checked="checked" />RDIMM</label>
        <label for="filter-type-so-dimm" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-type-so-dimm" checked="checked" />SO-DIMM</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">Features</legend>
        <label for="filter-features-ecc" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-features-ecc" checked="checked" />ECC</label>
        <label for="filter-features-registered-memory" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-features-registered-memory" checked="checked" />Registered Memory</label>
        <label for="filter-features-led-lights" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-features-led-lights" checked="checked" />Led Lights</label>
    </fieldset>

    <fieldset class="filter-wrapper">
        <legend class="filter-legend">In Stock</legend>
        <label for="filter-in-stock" class="filter-label">
            <input type="checkbox" class="filter-checkbox" id="filter-in-stock" />Yes</label>
    </fieldset>
</div>

<style>
    .filters {
        float: left;
        padding: 0.5em;
    }

    .filter-wrapper {
        border: 1px solid black;
        margin: 0 0 0.5em;
        width: 10em;
    }

    .filter-legend {
        font-weight: bold;
    }

    .filter-label {
        display: block;
    }

    .filter-checkbox {
        vertical-align: middle;
    }

    .numeric-input {
        margin: 0 5px 5px 0;
        max-width: 45px;
    }
</style>