<footer class="page-footer"><p id="disclosure">Latest table update: {Astro.props.lastUpdate} UTC - This website participates in the Amazon Associates program, meaning I may earn a commission on qualifying purchases made through the affiliate links. Product prices and availability are accurate as of the time displayed but may change at any moment. The price and availability at the time of purchase will apply to your order. Some content on this site is sourced from Amazon Service LLC and is provided "as is," and is subject to change and removal at any time. All content is Copyright Accentio. All rights reserved.</p></footer>

<style>
    .page-footer {
        display: inline-block;
        margin: 6px;
    }

    #disclosure {
        margin: 0;
    }
</style>