<head>
    <title>PC Memory Finder</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Find the best prices for PC RAM memory cards from Amazon, sorted by price per GB"/>
    <link rel="manifest" href="/static/manifest.webmanifest"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ram-memory-slot-16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ram-memory-slot-32.png"/>
    <link rel="canonical" href="https://pcmemoryfinder.com/?locale=us"/>
    <link rel="mask-icon" href="/images/ram-memory-slot.svg" color="#000000"/>
    <meta name="theme-color" content="#ffffff"/>
</head>
